<%- include('header') -%>

<h1>Factories</h1>

<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Worth</th>
            <th>Estabilished</th>
            <th>Number of models</th>
            <th> - </th>
        </tr>
        <% factoryList.forEach(function(oneFactory){ %>
            <tr>
                <td>
                    <a href="/weaponmodels/<%= oneFactory._id %>"><%= oneFactory.name %></a>
                </td>
                <td><%= oneFactory.country %></td>
                <td><%= oneFactory.worth %></td>
                <td><%= oneFactory.estabilished %></td>
                <td><%= oneFactory.noModels %></td>
                <td>
                    <a href="/weaponfactories/edit/<%= oneFactory._id %>">edit</a>
                    <a href="/weaponfactories/del/<%= oneFactory._id %>">delete</a>
                </td>
            </tr>
        <% }); %>
    </table>
</div>

<form class="add-item" action="/weaponfactories/new">
    <input type="submit" value="Add new factory" />
</form>

<%- include('footer') -%>
