<%- include('header') -%>

<form class="back-button" action="/">
    <input class="back-button" type="submit" value="Home" />
</form>
<br>
<br>

<h2><%= factory.name %></h2>

<h1>Models</h1>

<div class="table-container">
    <table>
        <tr>
            <th>In production?</th>
            <th>Name</th>
            <th>Caliber</th>
            <th>Sold</th>
            <th>Year of development</th>
            <th> - </th>
        </tr>
        <% modelList.forEach(function(oneModel){ %>
            <tr>
                <td>
                    <% if (oneModel.inProduction) { %>
                        <form method="POST" action="/weaponmodels/<%= factory._id %>/active/<%= oneModel._id %>">
                            <input type="checkbox" name="inProduction"  onChange="this.form.submit()">
                        </form>
                    <% } else { %>
                        <form method="POST" action="/weaponmodels/<%= factory._id %>/not_active/<%= oneModel._id %>">
                            <input type="checkbox" name="inProduction" Checked onChange="this.form.submit()">
                        </form>
                    <% } %>
                </td>
                
                <td>
                    <%= oneModel.name %>
                </td>
                <td>
                    <%= oneModel.caliber %>
                </td>
                <td>
                    <%= oneModel.sold %>
                </td>
                <td>
                    <%= oneModel.developmentYear %>
                </td>
                <td>
                    <a href="/weaponmodels/<%= factory._id %>/edit/<%= oneModel._id %>">edit</a>
                    <a href="/weaponmodels/<%= factory._id %>/del/<%= oneModel._id %>">delete</a>
                </td>
            </tr>
        <% }); %>
    </table>
</div>

<form class="add-item" action="/weaponmodels/<%= factory._id %>/new">
    <input type="submit" value="Add new model" />
</form>

<%- include('footer') -%>