<%- include('header') -%>

<h1>Model 
    <% if (typeof model === 'undefined') { %>
        creation
    <% }else{ %>
        edit
    <% } %>
</h1>

<div class="form-container">
    <form method="POST">
        
        <label class="text-field-label" for="name">Name</label>
        <input class="text-field" id="name" name="name" type="text" value="<%= (typeof model === 'undefined') ? '' : model.name %>"/>
        <label class="text-field-label" for="caliber">Caliber</label>
        <input class= "text-field" id="caliber" name="caliber" type="text" value="<%= (typeof model === 'undefined') ? '' : model.caliber %>"/>
        <label class="text-field-label" for="sold">Sold</label>
        <input class="text-field" id="sold" name="sold" type="text" value="<%= (typeof model === 'undefined') ? '' : model.sold %>"/>
        <label class="text-field-label" for="developmentYear">Year of development</label>
        <input class="text-field" id="developmentYear" name="developmentYear" type="text" value="<%= (typeof model === 'undefined') ? '' : model.developmentYear %>"/>
        
        <div class="modify-buttons-container">
            <input class="modify-button" type="submit" value="Save"/>
            <a href="/weaponmodels/<%= factory._id %>">Cancel</a>
        </div>

    </form>
</div>

<%- include('footer') -%>
