<%- include('header') %>
<h1>Weapon factories</h1>

<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Net worth</th>
            <th>Year of Est.</th>
            <th>No. of Models</th>
            <th>Active?</th>
            <th>Operations</th>
        </tr>
        <% factories.forEach(function(oneFactory){ %>
            <tr>
                <td>
                    <a href="/weaponmodels/<%= oneFactory._id %>"><%= oneFactory.name %> </a>
                </td>
                <td><%= oneFactory.country %> </td>
                <td><%= oneFactory.worth %> </td>
                <td><%= oneFactory.estabilished %> </td>
                <td><%= oneFactory.noModels %> </td>
                <% let checked = oneFactory.active ? "checked" : ""%>
                <td><input type="checkbox" value="active" <%= checked %> ></td>
                <td>
                    <a href="/weaponfactories/edit/<%=oneFactory._id%>">Edit</a>
                    <a href="/weaponfactories/del/<%=oneFactory._id%>">Delete</a>
                </td>
            </tr>
        <% }); %>
    </table>
</div>

<form class="add-item" action="/weaponfactories/new">
    <input type="submit" value="Create new company" />
</form>
<%- include('footer') %>