<%- include('header') %>
<h1><%= factory.name %> models:</h1>

<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Caliber</th>
            <th>Sold</th>
            <th>Year of Development</th>
            <th>In production?</th>
            <th>Operations</th>
        </tr>
        <% models.forEach(function(oneModel){ %>
            <tr>
                <td>
                    <a href="/weaponmodels/<%= factory._id%>/<%= oneModel._id%>">oneModel.name</a>
                </td>
                <td>oneModel.caliber</td>
                <td>oneModel.sold</td>
                <td>oneModel.developmentYear</td>
                <% let checked = oneModel.inProduction ? 'checked' : ''%>
                <td><input type="checkbox" value="in-production" <%=checked%>></td>
                <td>
                    <a href="/weaponmodels/<%= factory._id%>/<%= oneModel._id%>">Edit</a>
                    <a href="/weaponmodels/<%= factory._id%>/<%= oneModel._id%>/del">Delete</a>
                </td>
            </tr>
        <% }); %>
    </table>
</div>

<form class="add-item" action="/weaponmodels/<%= factory._id%>/new">
    <input type="submit" value="Create new model" />
</form>
<%- include('footer') %>