<%- include('header') %>
<h1>Model
    <% if (typeof model === 'undefined') { %>
        creation
    <% }else{ %>
        edit
    <% } %>
</h1>
<small> Factory: <%= factory.name %></small>

<div class="form-container">
    <form method="post">
        <label class="text-field-label" for="name">Name</label>
        <input class="text-field" id="name" type="text"
            value="<%= (typeof model === 'undefined') ? '' ? model.name %>"/>
        <label class="text-field-label" for="caliber">Caliber</label>
        <input class="text-field" id="caliber" type="text"
            value="<%= (typeof model === 'undefined') ? '' ? model.caliber %>"/>
        <label class="text-field-label" for="sold">Sold</label>
        <input class="text-field" id="sold" type="text"
            value="<%= (typeof model === 'undefined') ? '' ? model.sold %>"/>
        <label class="text-field-label" for="developmentYear">Year of Dev.</label>
        <input class="text-field" id="developmentYear" type="text"
            value="<%= (typeof model === 'undefined') ? '' ? model.developmentYear %>"/>
        <label class="text-field-label" for="inProduction">In production?</label>
        <input class="text-field" id="inProduction" type="checkbox"
            value="<%= (typeof model === 'undefined') ? 'checked' ? 'checked' %>"/>
        
    </form>
</div>

<form class="add-item" action="/weaponmodels/<%= factory._id%>">
    <div class="modify-buttons-container">
        <input class="modify-button" type="submit" value="Save"/>
        <!-- <input class="modify-button" type="submit" value="Cancel"/> -->
        <a href="/weaponmodels/<%= factory._id%>">Cancel</a>
    </div>
</form>
<%- include('footer') %>